<footer class="footer">

   <section class="box-container">

      <div class="box">
         <%= image_tag"email-icon.png" %>
         <h3>our email</h3>
         <a href="mailto:abc@gmail.com.com">abc@gmail.com</a>
      </div>

      <div class="box">
         <%= image_tag "clock-icon.png" %>
         <h3>opening hours</h3>
         <p>00:07am to 00:10pm </p>
      </div>

      <div class="box">
         <%= image_tag "map-icon.png"%>
         <h3>our address</h3>
         <a href="https://www.google.com/maps">RichyTower, 35 MacThaiTo</a>
      </div>

      <div class="box">
         <%= image_tag "phone-icon.png" %>
         <h3>our number</h3>
         <a href="tel:1234567890">+123-456-7890</a>
      </div>

   </section>

   <div class="credit">&copy; copyright @ 2022 by <span> Dung Sama </span> | all rights reserved!</div>

</footer>
