@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');
@import "bootstrap-sprockets";
@import "bootstrap";
@import "social-share-button";

:root {
	--yellow: #fed330;
	--red: #e74c3c;
	--green: #90EE90;
	--white: #fff;
	--black: #222;
	--light-color: #777;
	--border: .2rem solid var(--black);
}

@mixin background-tile {
	box-sizing: border-box;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 3px 3px 5px 6px #ccc;
	padding: 1.5em 1.25em;
}

.item-info {
	@include background-tile;
	display: flex;
	justify-content: space-between;

	.item-name {
		margin-top: 0;
		font-size: 2em;
	}

	.item-prcie {
		font-size: 1.5em;
		margin-top: 10px;
		margin-bottom: 10px;

		span {
			font-size: 0.80em;
		}
	}

	.item-desc {
		font-size: 1.05em;
		line-height: 1.5;
		margin-bottom: 15px;
		margin-top: 15px;
	}

}

.item-show {
	height: 475px;
	width: 325px;
	@include background-tile;
}



* {
	font-family: 'Rubik', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	transition: .2s linear;
}

*::selection {
	background-color: var(--yellow);
	color: var(--black);
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-behavior: smooth;
	scroll-padding-top: 6rem;
}

::-webkit-scrollbar {
	height: .5rem;
	width: 1rem;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: var(--yellow);
	border-radius: 5rem;
}

section {
	max-width: 1200px;
	margin: 0 auto;
	padding: 2rem;
}

.delete-btn,
.btn {
	display: inline-block;
	margin-top: 1rem;
	padding: 1.3rem 3rem;
	cursor: pointer;
	font-size: 2rem;
	text-transform: capitalize;
}

.delete-btn {
	background-color: var(--red);
	color: var(--white);
}

.btn {
	background-color: var(--yellow);
	color: var(--black);
}

.delete-btn:hover,
.btn:hover {
	transform: scale(1.1);
}

.confirm-btn,
.btn {
	display: inline-block;
	margin-top: 1rem;
	padding: 1rem 2rem;
	cursor: pointer;
	font-size: 2rem;
	text-transform: capitalize;
}

.confirm-btn {
	background-color: var(--green);
	color: var(--white);
}

.confirm-btn:hover,
.btn:hover {
	transform: scale(1.1);
}

.title {
	text-align: center;
	margin-bottom: 3rem;
	font-size: 4rem;
	color: var(--black);
	text-transform: uppercase;
	text-decoration: underline;
	text-underline-offset: 1rem;
}

.heading {
	background-color: var(--black);
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	;
	flex-flow: column;
	min-height: 20rem;
}

.heading h3 {
	font-size: 4rem;
	color: var(--white);
	text-transform: capitalize;
}

.heading p a {
	font-size: 2rem;
	color: var(--yellow);
}

.heading p span {
	font-size: 2rem;
	color: var(--light-color);
}

.heading p a:hover {
	color: var(--white);
}

.header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	border-bottom: var(--border);
	background-color: var(--white);
}

.header .flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.header .flex .logo {
	font-size: 2.5rem;
	color: var(--black);
}

.header .flex .navbar a {
	margin: 0 1rem;
	font-size: 2rem;
	color: var(--black);
}

.header .flex .navbar a:hover {
	color: var(--yellow);
}

.header .flex .icons>* {
	font-size: 2.5rem;
	color: var(--black);
	margin-left: 1.5rem;
	cursor: pointer;
}

.header .flex .icons>*:hover {
	color: var(--yellow);
}

@keyframes fadeIn {
	0% {
		transform: translateY(1rem);
	}
}

.header .flex .profile {
	width: 30rem;
	position: absolute;
	top: 120%;
	right: 2rem;
	background-color: var(--white);
	border: var(--border);
	padding: 1.5rem;
	text-align: center;
	display: none;
	animation: fadeIn .2s linear;
}

.header .flex .profile.active {
	display: block;
}

.header .flex .profile .name {
	font-size: 1.7rem;
	margin-bottom: .5rem;
}

.header .flex .profile .account {
	font-size: 1.7rem;
	color: var(--light-color);
	margin-top: 1.5rem;
}

.header .flex .profile .account a {
	color: var(--black);
	text-decoration: underline;
}

.header .flex .profile .account a:hover {
	color: var(--yellow);
}

#menu-btn {
	display: none;
}

.home .slide {
	display: flex;
	flex-wrap: wrap-reverse;
	gap: 1.5rem;
	align-items: center;
	margin-bottom: 4rem;
}

.home .slide .content {
	flex: 1 1 40rem;
	text-align: center;
}

.home .slide .image {
	flex: 1 1 40rem;
}

.home .slide .image img {
	width: 100%;
}

.home .slide .content span {
	font-size: 2.5rem;
	color: var(--light-color);
}

.home .slide .content h3 {
	font-size: 5rem;
	text-transform: capitalize;
	color: var(--black);
	padding: 1rem 0;
}

.swiper-pagination-bullet-active {
	background-color: var(--yellow);
}

.category .box-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
	gap: 1.5rem;
	align-items: flex-start;
}

.category .box-container .box {
	border: var(--border);
	padding: 2rem;
	text-align: center;
}

.category .box-container .box img {
	width: 100%;
	height: 10rem;
	object-fit: contain;
}

.category .box-container .box h3 {
	margin-top: 2rem;
	font-size: 2rem;
	color: var(--black);
}

.category .box-container .box:hover {
	background-color: var(--yellow);
}

.category .box-container .box:hover img {
	filter: invert rgba(255, 0, 0, 0.3);
}

.products .box-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, 33rem);
	gap: 1.5rem;
	align-items: flex-start;
	justify-content: center;
}

.products .box-container .box {
	position: relative;
	border: var(--border);
	padding: 2rem;
	overflow: hidden;
}

.products .box-container .box .fa-eye,
.products .box-container .box .fa-shopping-cart {
	position: absolute;
	top: 1rem;
	display: block;
	height: 4.5rem;
	width: 4.5rem;
	line-height: 4.3rem;
	font-size: 2rem;
	border: var(--border);
	background-color: var(--white);
	cursor: pointer;
	color: var(--black);
	text-align: center;
}

.products .box-container .box .fa-eye {
	left: -10rem;
}

.products .box-container .box .fa-shopping-cart {
	right: -10rem;
}

.products .box-container .box:hover .fa-eye {
	left: 1rem;
}

.products .box-container .box:hover .fa-shopping-cart {
	right: 1rem;
}

.products .box-container .box .fa-eye:hover,
.products .box-container .box .fa-shopping-cart:hover {
	background-color: var(--black);
	color: var(--white);
}

.products .box-container .box img {
	height: 25rem;
	width: 100%;
	object-fit: contain;
	margin-bottom: 1rem;
}

.products .box-container .box .cat {
	font-size: 1.7rem;
	color: var(--light-color);
}

.products .box-container .box .cat:hover {
	color: var(--yellow);
}

.products .box-container .box .name {
	font-size: 2rem;
	margin: 1rem 0;
	color: var(--black);
}

.products .box-container .box .flex {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.products .box-container .box .flex .price {
	margin-right: auto;
	font-size: 2.5rem;
	color: var(--black);
}

.products .box-container .box .flex .price span {
	font-size: 1.8rem;
	color: var(--light-color);
}

.products .box-container .box .flex .qty {
	padding: 1rem;
	font-size: 1.8rem;
	border: var(--border);
	color: var(--black);
	width: 7rem;
}

.products .box-container .box .flex .fa-edit {
	width: 5rem;
	background-color: var(--yellow);
	color: var(--black);
	cursor: pointer;
	height: 4.5rem;
	font-size: 2rem;
	border: var(--border);
}

.products .box-container .box .flex .fa-edit:hover {
	background-color: var(--black);
	color: var(--white);
}

.products .box-container .box .sub-total {
	margin-top: 1rem;
	font-size: 1.7rem;
	color: var(--light-color);
}

.products .box-container .box .sub-total span {
	color: var(--black);
}

.products .box-container .box .fa-times {
	font-size: 2rem;
	background-color: var(--red);
	color: var(--white);
	height: 4.5rem;
	position: absolute;
	top: 1rem;
	right: 1rem;
	width: 4.5rem;
	line-height: 4.3rem;
	height: 4.5rem;
	cursor: pointer;
	border: var(--border);
}

.icon-button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	color: #333333;
	background: #dddddd;
	border: none;
	outline: none;
	border-radius: 50%;
}

.reviews {

	@include background-tile;

	h1 {
		margin-top: 0;
		margin-bottom: 15px;
		font-size: 2em;
	}
	.overflow-auto {
		max-height: 320px;
		overflow: scroll;
	}
	.review {
		border-bottom: 1px solid gainsboro;
		margin-bottom: 15px;
		padding-bottom: 10px;
		.review-comment {
			font-size: 1.05em;
			line-height: 1.5;
		}
	}

	.new-review {
		padding-top: 8px;
	}

}

.icon-button:hover {
	cursor: pointer;
}

.icon-button:active {
	background: #cccccc;
}

.icon-button__badge {
	position: absolute;
	top: -10px;
	right: -10px;
	width: 25px;
	height: 25px;
	background: red;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.products .box-container .box .fa-times:hover {
	background-color: var(--black);
}

.products .more-btn {
	margin-top: 2rem;
	text-align: center;
}

.more-btn.admin {
	display: flex;
	justify-content: flex-end;
	margin-right: 50px;
}

.products .cart-total {
	border: var(--border);
	padding: 1rem 2rem;
	margin-top: 1rem;
	margin-bottom: 2rem;
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
	align-items: center;
}

.products .cart-total p {
	margin-right: auto;
	font-size: 2rem;
	color: var(--light-color);
}

.products .cart-total p span {
	color: var(--black);
}

.products .cart-total .btn {
	margin-top: 0;
}

.products .box-container .stars {
	margin-top: .5rem;
}


.products .box-container .stars i {
	font-size: 1.7rem;
	color: var(--yellow);
}

.about .row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 1.5rem;
}

.about .row .image {
	flex: 1 1 40rem;
}

.about .row .image img {
	width: 100%;
}

.about .row .content {
	flex: 1 1 40rem;
	text-align: center;
}

.about .row .content h3 {
	font-size: 3rem;
	text-transform: capitalize;
	color: var(--black);
}

.about .row .content p {
	padding: 1rem 0;
	line-height: 2;
	font-size: 1.6rem;
	color: var(--light-color);
}

.reviews .slide {
	margin-bottom: 4rem;
	border: var(--border);
	text-align: center;
	padding: 2rem;
}

.reviews .slide img {
	height: 10rem;
	width: 10rem;
	border-radius: 50%;
	object-fit: cover;
}

.reviews .slide p {
	padding: 1rem 0;
	line-height: 2;
	font-size: 1.6rem;
	color: var(--light-color);
}

.reviews .slide .stars {
	margin-top: .5rem;
}

.reviews .slide .stars i {
	font-size: 1.7rem;
	color: var(--yellow);
}

.reviews .slide h3 {
	font-size: 2rem;
	color: var(--black);
	margin-top: 1.5rem;
}

.contact .row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 1.5rem;
}

.contact .row .image {
	flex: 1 1 40rem;
}

.contact .row .image img {
	width: 100%;
}

.contact .row form {
	border: var(--border);
	flex: 1 1 40rem;
	padding: 2rem;
	text-align: center;
}

.contact .row form h3 {
	font-size: 2.5rem;
	color: var(--black);
	text-transform: capitalize;
	margin-bottom: 1rem;
}

.contact .row form .box {
	width: 100%;
	border: var(--border);
	padding: 1.4rem;
	font-size: 1.8rem;
	color: var(--black);
	margin: .5rem 0;
}

.contact .row form textarea {
	height: 15rem;
	resize: none;
}

.steps .box-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	gap: 1.5rem;
	align-items: flex-start;
}

.steps .box-container .box {
	text-align: center;
	padding: 2rem;
	border: var(--border);
}

.steps .box-container .box img {
	height: 15rem;
	margin-bottom: 1rem;
	width: 100%;
	object-fit: contain;
}

.steps .box-container .box h3 {
	font-size: 2rem;
	color: var(--black);
	margin: 1rem 0;
	text-transform: capitalize;
}

.steps .box-container .box p {
	font-size: 1.6rem;
	color: var(--light-color);
	line-height: 2;
}

.search-form form {
	display: flex;
	gap: 1rem;
}

.search-form form input {
	width: 100%;
	padding: 1.4rem;
	font-size: 1.8rem;
	border: var(--border);
	color: var(--black);
}

.search-form form button {
	width: 6rem;
	font-size: 2rem;
	background-color: var(--black);
	color: var(--white);
	cursor: pointer;
}

.search-form form button:hover {
	background-color: var(--yellow);
	color: var(--black);
}

.user-details .user {
	border: var(--border);
	padding: 2rem;
	max-width: 40rem;
	margin: 0 auto;
}

.user-details .user img {
	width: 100%;
	height: 15rem;
	object-fit: contain;
	margin-bottom: 2rem;
}

.user-details .user p {
	line-height: 1.5;
	margin-bottom: .5rem;
	font-size: 2rem;
}

.user-details .user p span {
	color: var(--black);
}

.user-details .user i {
	margin-right: .7rem;
	color: var(--light-color);
}

.user-details .user p.address {
	margin-top: 2rem;
}

.form-container form {
	max-width: 50rem;
	margin: 0 auto;
	border: var(--border);
	padding: 2rem;
	text-align: center;
}

.form-container form h3 {
	margin-bottom: 1rem;
	font-size: 2.5rem;
	text-transform: uppercase;
	color: var(--black);
}

.form-container form .box {
	margin: 1rem 0;
	padding: 1.4rem;
	color: var(--black);
	border: var(--border);
	font-size: 1.8rem;
	width: 100%;
}

.form-container form p {
	margin-top: 1.5rem;
	font-size: 2rem;
	color: var(--light-color);
}

.form-container form p a {
	font-size: 2rem;
	color: var(--red);
}

.form-container form p a:hover {
	color: var(--black);
}

.checkout form {
	max-width: 50rem;
	margin: 0 auto;
	border: var(--border);
	padding: 2rem;
}

.checkout form .cart-items {
	background-color: var(--black);
	padding: 2rem;
}

.checkout form .cart-items h3 {
	font-size: 2.5rem;
	color: var(--white);
	text-transform: capitalize;
	margin-bottom: 2rem;
}

.checkout form .cart-items p {
	display: flex;
	gap: 1.5rem;
	align-items: center;
	justify-content: space-between;
	margin: 1rem 0;
	line-height: 1.5;
	font-size: 2rem;
}

.checkout form .cart-items p .name {
	color: var(--white);
}

.checkout form .cart-items p .price {
	color: var(--yellow);
}

.checkout form .cart-items .grand-total {
	background-color: var(--white);
	padding: 1rem;
}

.checkout form .cart-items .grand-total .name {
	color: var(--black);
}

.checkout form .cart-items .grand-total .price {
	color: var(--red);
}

.checkout form .user-info h3 {
	font-size: 2.5rem;
	margin: 2rem 0;
	color: var(--black);
	text-transform: capitalize;
}

.checkout form .user-info p {
	line-height: 1.5;
	font-size: 2rem;
	margin: 1rem 0;
}

.checkout form .user-info p span {
	color: var(--black);
}

.checkout form .user-info p i {
	color: var(--light-color);
	margin-right: .7rem;
}

.checkout form .user-info .box {
	width: 100%;
	border: var(--border);
	padding: 1.4rem;
	color: var(--black);
	font-size: 1.8rem;
	margin-top: 2rem;
}

.checkout form .order-btn {
	margin-top: 2rem;
	width: 100%;
	background-color: var(--black);
	color: var(--white);
}

.orders .box-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	gap: 1.5rem;
	align-items: flex-start;
}

.orders .box-container .box {
	border: var(--border);
	padding: 1rem 1rem;
}

.orders .box-container .box p {
	font-size: 2rem;
	color: var(--light-color);
	line-height: 2;
}

.orders .box-container .box p span {
	color: var(--black);
}

.footer .box-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
	gap: 1.5rem;
	align-items: flex-start;
}

.footer .box-container .box {
	text-align: center;
	padding: 2rem;
	border: var(--border);
}

.footer .box-container .box img {
	height: 10rem;
	margin-bottom: 1rem;
}

.footer .box-container .box h3 {
	margin: 1rem 0;
	font-size: 2rem;
	color: var(--black);
}

.footer .box-container .box a,
.footer .box-container .box p {
	line-height: 2;
	font-size: 1.5rem;
	color: var(--light-color);
	display: block;
}

.footer .credit {
	background-color: var(--black);
	text-align: center;
	padding: 3rem 2rem;
	font-size: 2rem;
	color: var(--white);
	/* padding-bottom: 10rem; */
}

.footer .credit span {
	color: var(--yellow);
}

@media (max-width:991px) {

	html {
		font-size: 55%;
	}

}

@media (max-width:768px) {

	#menu-btn {
		display: inline-block;
	}

	.header .flex .navbar {
		position: absolute;
		top: 99%;
		left: 0;
		right: 0;
		border-top: var(--border);
		border-bottom: var(--border);
		background-color: var(--white);
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	}

	.header .flex .navbar.active {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}

	.header .flex .navbar a {
		display: block;
		margin: 2rem;
	}

}

.btn-info.custom-info {
	transform: scale(0.5);


}

$size: 50px;

.social-share-button {
	.ssb-icon {
		background-size: $size $size;
		height: $size;
		width: $size;
	}
}

@media (max-width:450px) {

	html {
		font-size: 50%;
	}

	.title {
		font-size: 3rem;
	}

	.header .flex .logo {
		font-size: 2rem;
	}

	.products .box-container {
		grid-template-columns: 1fr;
	}

}


.dashboard{
  font-size: 16px;
  overflow-x: hidden;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: #4e657a;
  overflow-x: hidden;
	padding: 60px;
	height: 120vh;
a {
  transition: all 0.3s ease;
}
a:focus,
a:hover {
  text-decoration: none;
}
button:focus {
  outline: 0;
}
.navbar-brand {
  display: flex;
  align-items: center;
}

.tm-site-title {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 700;
  color: #fff;
}

.tm-logout-icon {
  font-size: 1.5em;
}
.tm-mt-big {
  margin-top: 57px;
}
.tm-mb-big {
  margin-bottom: 60px;
}
.tm-mt-small {
  margin-top: 20px;
}
.tm-block-col {
  margin-bottom: 30px;
}
.tm-block {
  padding: 40px;
  -webkit-box-shadow: 1px 1px 5px 0 #455c71;
  -moz-box-shadow: 1px 1px 5px 0 #455c71;
  box-shadow: 1px 1px 5px 0 #455c71;
  min-height: 350px;
  height: 100%;
  max-height: 450px;
}
.tm-block-avatar,
.tm-block-settings {
  max-height: none;
}

.tm-block-scroll {
  overflow-y: scroll;
}
.tm-block-overflow {
  overflow: hidden;
}
.tm-block-title {
  font-size: 1.1rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 30px;
}
.nav-link {
  color: #fff;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 90%;
}
.nav-link > i {
  margin-bottom: 10px;
  margin-right: 0;
  font-size: 1.5rem;
}
.dropdown-item,
.nav-link {
  padding: 15px 20px;
}
.dropdown-menu {
  font-size: 90%;
  color: #fff;
  background-color: #567086;
  border-radius: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: auto;
}
.dropdown-item {
  color: #fff;
  padding: 15px 30px;
}
.navbar-nav .active > .nav-link,
.navbar-nav .nav-link.active {
  background-color: #f5a623;
  color: #fff;
}
.navbar-nav .nav-link.active i {
  color: #fff;
}
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #567086;
}
.navbar-nav a:hover,
.navbar-nav a:hover i {
  color: #f5a623;
}
.nav-item {
  text-align: center;
}
.nav-item:last-child {
  margin-right: 0;
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-menu {
  margin-top: 0;
  border: 0;
}
.tm-content-row {
  justify-content: space-between;
  margin-left: -20px;
  margin-right: -20px;
}
.dashboard-table {
	transform: scale(0.965);
}
.tm-col {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 50px;
}
.tm-col-big {
  width: 39%;
}
.tm-col-small {
  width: 21.95%;
}
.tm-gray-circle {
  width: 80px;
  height: 80px;
  background-color: #aaa;
  border-radius: 50%;
  margin-right: 15px;
}
.tm-notification-items {
  overflow-y: scroll;
  height: 90%;
}
.tm-notification-item {
  padding: 15px;
  background-color: #4e657a;
  color: #fff;
  font-size: 95%;
  margin-bottom: 15px;
}
.tm-notification-item:last-child {
  margin-bottom: 0;
}
.tm-notification-link {
  color: #f5a623;
}
.tm-text-color-secondary {
  color: #bdcbd8;
}
.tm-small {
  font-size: 90%;
}
.table {
  background-color: #50697f;
  color: #fff;
  font-size: 85%;
  margin-bottom: 0;

}
thead {
  background-color: #486177;
  color: #fff;
}
.table thead th {
  border-bottom: 0;
}
.tm-status-circle {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-top: -3px;
}

.pending {
  background-color: #efc54b;
  box-shadow: 0 0 8px #efc54b, inset 0 0 8px #efc54b;
}



.table td,
.table th {
  border-top: 1px solid #415a70;
  padding: 15px 25px;
  vertical-align: middle;
	white-space: nowrap;
}
.tm-table-small td,
.tm-table-small th {
  padding-left: 12px;
  padding-right: 12px;
}
.table-hover tbody tr {
  transition: all 0.2s ease;
}
.table-hover tbody tr:hover {
  color: #a0c0de;
}
.tm-bg-primary-dark {
  background-color: #435c70;
}
.tm-bg-gray {
  background-color: rgba(0, 0, 0, 0.05);
}
.tm-table-mt {
  margin-top: 66px;
}
.page-item:first-child .page-link {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.page-item:last-child .page-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.page-link {
  padding: 12px 18px;
}
.page-link,
.page-link:hover {
  color: #000;
}
.page-item {
  margin-right: 18px;
}
.page-item:last-child {
  margin-right: 0;
}
.page-item.active .page-link {
  background-color: #e9ecef;
  border-color: #dee2e6;
  color: #000;
}
.tm-block-products {
  min-height: 725px;
}
.tm-block-product-categories {
  min-height: 650px;
}
.tm-product-table-container {
  max-height: 465px;
  margin-bottom: 15px;
  overflow-y: scroll;
}
.tm-product-table tr {
  font-weight: 600;
}
.tm-product-name {
  font-size: 0.95rem;
  font-weight: 600;
}
.tm-product-delete-icon {
  font-size: 1.1rem;
  color: #fff;
}
.tm-product-delete-link {
  padding: 10px;
  border-radius: 50%;
  background-color: #394e64;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
}
.tm-product-delete-link:hover .tm-product-delete-icon {
  color: #6d8ca6;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #394f62;
}
::-webkit-scrollbar-thumb {
  background: #6d8da6;
}
::-webkit-scrollbar-thumb:hover {
  background: #8ab5d6;
}


@media (min-width: 1200px) {
  .navbar-expand-xl .navbar-nav .nav-link {
    padding-left: 28px;
    padding-right: 28px;
  }
  .navbar-collapse {
    height: 100%;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 15px 20px;
  }
}
@media (max-width: 1275px) and (min-width: 1200px) {
  .nav-item {
    margin-right: 15px;
  }
}
@media (max-width: 1350px) {
  .nav-item {
    margin-right: 1px;
  }
}
@media (max-width: 1199px) {
  .tm-col-big,
  .tm-col-small {
    width: 49.65%;
  }
  .navbar-collapse {
    padding: 0;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 1px 1px;
    position: absolute;
    top: 72px;
    right: 20px;
    width: 200px;
    z-index: 1000;
  }
  .dropdown-menu {
    text-align: center;
  }
  .nav-link {
    color: #fff;
    background-color: #567086;
    padding: 15px;
    flex-direction: row;
  }
  .nav-link > i {
    font-size: 1rem;
    margin-right: 10px;
    margin-bottom: 0;
  }
  .nav-item {
    margin-right: 0;
  }
  .tm-block-taller {
    max-height: 520px;
  }
}
@media (max-width: 1199.98px) {
  .navbar-expand-xl > .container,
  .navbar-expand-xl > .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar-collapse {
    right: 15px;
  }
}
@media (max-width: 991px) {
  .tm-col-big,
  .tm-col-small {
    width: 100%;
    min-height: 383px;
    height: auto;
  }
  .tm-block {
    padding: 30px;
  }
}
@media (max-width: 767px) {
  .tm-col-account-settings,
  .tm-col-avatar {
    width: 100%;
    max-width: 100%;
  }
  .tm-block-avatar {
    display: flex;
    flex-direction: column;
  }
  .tm-avatar {
    align-self: center;
  }
  .tm-hide-sm {
    display: none;
  }
}
@media (max-width: 633px) {
  .page-item {
    margin-top: 10px;
  }
  .custom-select {
    background-position: 96%;
  }
}
@media (max-width: 574px) {
  .navbar-collapse {
    top: 47px;
  }
  .navbar {
    height: 50px;
  }
  .tm-site-title {
    font-size: 1.4rem;
    margin-left: 7px;
  }
  .tm-site-icon {
    font-size: 2em;
  }
}
@media (max-width: 480px) {
  .tm-mt-big {
    margin-top: 45px;
  }
  .tm-mb-big {
    margin-bottom: 45px;
  }
  #barChart,
  #lineChart {
    max-height: 350px;
  }
}
}

.site-wrap {
  display: grid;
  grid-template-columns: 280px 1fr;
}

.site-nav {
  background: #1f506c;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}
.site-nav a {
  color: inherit;
}
.site-nav ul {
  margin-bottom: auto;
}
.site-nav ul li a {
  display: block;
  padding: 0.75rem 0.5rem 0.75rem 2rem;
  position: relative;
}
.site-nav ul li a:hover, .site-nav ul li a:focus {
  color: #4371c5;
}
.site-nav ul li.active > a {
  background: linear-gradient(to right, #101b2d, transparent);
}
.site-nav ul li.active > a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #4676cd;
  width: 5px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.site-nav ul ul {
  padding-left: 1rem;
  margin-bottom: 0.5rem;
}
.site-nav ul ul a {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.note {
  width: calc(100% - 6rem);
  margin: 2rem;
  background: #2d6a97;
  border-radius: 10px;
  padding: 1rem;
}
.note h3 {
  font-size: 0.9rem;
  margin: 0 0 0.4rem 0;
}
.note p {
  color: #717783;
}
.name-d {
  font-size: 1.3rem;
  position: relative;
  margin: 2rem 0 2rem 0;
  padding: 0 2.5rem 0.5rem 2rem;
  width: calc(100% - 3rem);
}


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #6d8da6;
}
::-webkit-scrollbar-thumb:hover {
  background: #8ab5d6;
}
